Diagnostics:
  ClangTidy:
    FastCheckFilter: None
  MissingIncludes: Strict
  UnusedIncludes: Strict
  Includes:
    IgnoreHeader:
      - '[/\]trivial_user_config\.h'
      - /_time\.h
      - /mach/(arm|i386)/kern_return\.h
      - /sys/_pthread/.*
      - /sys/_types/.*
      - /bits/.*
      - '[/\]um[/\](synch|memory|processthreads|processtopology|errhandling|handle|sysinfo|libloader|securitybase)api\.h'
      - '[/\]um[/\](winnt|WinBase|minwinbase)\.h'
      - '[/\]shared[/\](minwindef|windef|winerror|basetsd)\.h'
